<html>
<style>
body {background-color: powderblue;}
header {font-size: 40px}
</style>
<center>
<header>Edit Item</header>
<form action="/edit" method = POST>
  <input type=text placeholder="new value"></input>
  <button type=submit>Edit</button>
</form>
</center>
</html>
